<blog-builder-navigation></blog-builder-navigation>
<blog-builder-backwards [link]=" '/link' " [text]=" 'return to the blog list' "></blog-builder-backwards>
<div class="details">
    <div class="details-higher"></div>
    <div class="details-lower"></div>
    <div class="details-container">
        <div class="details-card">
            <div class="details-row">
                <div class="details-column-image">
                    <!-- <div class="details-image" [ngStyle]="{'background-image': 'url('+ image +')'}" *ngIf="image"></div> -->
                    <div class="details-image" [ngStyle]="{'background-image': 'url(assets/logos/post-default.png)'}"></div>
                </div>
                <div class="details-column-large">
                    <div class="details-card-inner">
                        <div class="details-heading">{{ post?.title }}</div>
                        <div class="details-subheading">{{ post?.author }}</div>
                        <div class="details-subheading">{{ post?.date | date: 'dd MMMM yyyy' }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="details-content">
    <div class="details-content-card">
        <div class="details-content-inner">
            <div [innerHtml]="post?.description"></div>
        </div>
    </div>
    <div class="details-content-card">
        <div class="details-content-inner">
            <div class="details-content-heading">Comments</div>

            <div class="details-comment-add" *ngIf="(loggedIn$ | async)">
                <p>Logged In</p>
            </div>

            <div class="details-comment-list">
                @for (comment of comments$ | async; track comment?.id; let index = $index) {
                    <blog-builder-comment [comment]="comment"></blog-builder-comment>
                }
                @empty {
                    <blog-builder-empty
                        [title]=" 'nothing to display' "
                        [subtitle]=" 'There are currently no comments to display. Feel free to log in and post your comment.' "
                        [type]=" 'INLINE' "
                    ></blog-builder-empty>
                }
            </div>
        </div>
    </div>
</div>
<blog-builder-footer></blog-builder-footer>