<div class="hero">
    <div class="hero-inner">
        <div class="hero-row">
            <div class="hero-column hero-column-large">
                <div class="hero-title">{{ title | titlecase }}</div>
            </div>
            <div class="hero-column hero-column-small hero-emoji">
                <div class="hero-emoji-icons">
                    <div class="hero-emoji-icon">🎉</div>
                </div>
            </div>
        </div>
        <div class="hero-row" *ngIf="subtitle">
            <div class="hero-subtitle">{{ subtitle }}</div>
        </div>
    </div>
</div>
