<blog-builder-navigation></blog-builder-navigation>
<blog-builder-hero [title]=" 'welcome to my blog!' "></blog-builder-hero>
<div class="list">
    <div class="list-inner">
        <div class="list-row">
            <div class="list-heading">Latest Posts</div>
            <div class="list-subheading">Dive into our latest blog posts and tell us what you think...</div>
        </div>
        <div class="list-row">
            @for (post of posts$ | async; track post?.id; let index = $index) {
                <blog-builder-post [id]="post?.id" [image]="undefined" [title]="post?.title" [description]="post?.description"></blog-builder-post>
            }
            @empty {
                <blog-builder-no-post></blog-builder-no-post>
            }
        </div>
    </div>
</div>
<blog-builder-footer></blog-builder-footer>