<blog-builder-hero [title]="title"></blog-builder-hero>
<div class="list">
    <div class="list-inner">
        <div class="list-row">
            <div class="list-heading">Our Latest Posts</div>
            <div class="list-subheading">Dive into our latest blog posts and tell us what you think...</div>
        </div>
        <div class="list-row">
            <!-- THIS NEEDS TO BE REPLACED WITH ACTUAL DATA -->
            <blog-builder-post
                [id]=" '1234-ABCD-5678-EFGH' "
                [image]="undefined"
                [title]=" 'Title of the Post?' "
                [description]=" 'Ultrices euismod. Mauris tellus integer fringilla luctus consectetuer accumsan sapien consequat natoque amet lobortis habitant hymenaeos suscipit urna, mollis Commodo dis dui tempor phasellus cras nonummy, lacinia euismod blandit libero. Convallis. Ultrices hac fames.' "
            ></blog-builder-post>
            <!-- THIS NEEDS TO BE REPLACED WITH ACTUAL DATA -->
        </div>
    </div>
</div> 