@import '../../../styles.scss';

.list {
    position: relative;
    background-color: $blog-body;
    padding-top: 2em;
    padding-bottom: 2em;
  
    &-inner {
      padding-left: 12.5%;
      padding-right: 12.5%;
    }
  
    &-row {
      width: 100%;
    }
    
    &-heading {
      font-family: $font-heading;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
      letter-spacing: 0em;
      color: $blog-secondary;
    }
  
    &-subheading {
      font-family: $font-content;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0em;
      margin-bottom: 30px;
    }
    
    &-image {
      height: 422px;
      width: 100%;
      border-radius: 1em 1em 1em 0;
  
      &-subheader {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
      }
  
      &-para {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
      }
  
      &-below {
        padding-top: 25px;
        padding-bottom: 15px;
      }
  
      &-link {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  
    &-badge {
      position: absolute;
      left: 40px;
      bottom: 150px;
      font-family: $font-content;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: #FFFFFF;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(8px);
      border-radius: 8px;
      text-align: center;
      padding: 8px 12px;
    }
  }

