.button {
    font-family: $font-content;
    padding: 12.5px 26px;
    max-width: 200px;

    &-primary {
        background: $blog-primary;
        border-radius: 6px;
        color: $blog-secondary;
        border: 2px solid #FFFFFF;
        width: 100%;
        height: 100%;

        &-small {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
        }

        &-normal {
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
        }
    }

    &-grey {
        background: #EDE5E3;
        border-radius: 6px;
        color: #6c757d;
        border: 2px solid #EDE5E3;
        width: 100%;
        height: 100%;

        &-small {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
        }

        &-normal {
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
        }
    }
}

.button-primary:hover, .button-primary:active, .button-primary:visited {
    background: #FFFFFF;
    color: $blog-secondary;
    border: 2px solid $blog-primary;
}

.button-grey:hover, .button-grey:active, .button-grey:visited {
    background: #FFFFFF;
    color: #6c757d;
    border: 2px solid #6c757d;
}