@import '../../../styles.scss';

.empty {
    width: 100%;
   
    &-right {
        display: flex;
        flex-direction: row-reverse;
    }

    &-content {
        height: 100%; 
    }
    
    &-spacing {
        padding: 25px;
    }

    &-doublespace {
        padding: 50px;
    }

    &-card {
        background-color: white;
        border-radius: 16px 0px 16px 16px;
        border: 1.5px solid $blog-footer;
    }

    &-title {
        color: $blog-secondary;
        font-weight: light;
    }
}