@import '../../../styles.scss';

.addtag {
    width: 100%;
    margin-bottom: 10px;

    &-inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &-half {
    }
}