/* You can add global styles to this file, and also import other style files */

@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css';
@import 'https://pro.fontawesome.com/releases/v5.10.0/css/all.css';

$blog-primary: #98d0c0;
$blog-secondary: #3c483d;

$blog-yellow: #FCB936;
$blog-green: #219E8F;
$blog-blue: #2282EB;
$blog-red: #CA1F25;
$blog-black: #000;

$blog-hero: #F6F2F1;
$blog-body: #FBF9F8;
$blog-light: #F3F3F4;
$blog-footer: #EDE5E3;
$blog-dark: #CCB8B4;

$font-default: "Roboto", serif;
$font-content: "Rubik", sans-serif;
$font-heading: "Pacifico", sans-serif;

@import './assets/scss/buttons.scss';

html,
body {
	font-weight: $font-default;
    height: 100%;
	width: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5 {
	font-family: $font-heading;
}

h6, p, ul, li, ol {
	font-family: $font-content;
}

.view-mobile {
	display: none;
}

@media screen and (max-width: 600px) {
	.view-mobile {
		display: inherit;
	}	
}

.view-desktop {
	display: inherit;
}

@media screen and (max-width: 600px) {
	.view-desktop {
		display: none;
	}	
}