/* You can add global styles to this file, and also import other style files */

@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css';
@import 'https://pro.fontawesome.com/releases/v5.10.0/css/all.css';

$blog-primary: #98d0c0;
$blog-secondary: #3c483d;

$blog-yellow: #FCB936;
$blog-green: #219E8F;
$blog-blue: #2282EB;
$blog-red: #CA1F25;
$blog-black: #000;

$blog-hero: #F6F2F1;
$blog-body: #FBF9F8;
$blog-light: #F3F3F4;
$blog-footer: #EDE5E3;
$blog-dark: #CCB8B4;

$font-default: "Roboto", serif;
$font-content: "Rubik", sans-serif;
$font-heading: "Pacifico", sans-serif;

html,
body {
    font-weight: $font-default;
    height: 100%;
    width: 100%;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-heading;
}

h6,
p,
ul,
li,
ol {
    font-family: $font-content;
}

/** Responsiveness **/
.view-mobile {
    display: none;
}

@media screen and (max-width: 600px) {
    .view-mobile {
        display: inherit;
    }
}

.view-desktop {
    display: inherit;
}

@media screen and (max-width: 600px) {
    .view-desktop {
        display: none;
    }
}

/** Banner **/
.banner {
    font-family: $font-content;
    padding: 12.5px 26px;
    margin-bottom: 26px;

    &-error {
        background-color: $blog-light;
        text-align: center;
        color: $blog-red;
        border-radius: 6px;
        border: 2px solid $blog-red;
        width: 100%;
        height: 100%;
    }
}

/** Buttons **/
.button {
    font-family: $font-content;
    padding: 12.5px 26px;

    &-inline {
        padding-left: 10px;
        color: $blog-blue;
        cursor: pointer;
    }

    &-small {
        max-width: 200px;
    }

    &-primary {
        background: $blog-primary;
        border-radius: 6px;
        color: $blog-secondary;
        border: 2px solid #FFFFFF;
        width: 100%;
        height: 100%;

        &-small {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
        }

        &-normal {
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
        }
    }

    &-grey {
        background: #EDE5E3;
        border-radius: 6px;
        color: #6c757d;
        border: 2px solid #EDE5E3;
        width: 100%;
        height: 100%;

        &-small {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
        }

        &-normal {
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
        }
    }
}

.button-primary:hover,
.button-primary:active,
.button-primary:visited {
    background: #FFFFFF;
    color: $blog-secondary;
    border: 2px solid $blog-primary;
}

.button-grey:hover,
.button-grey:active,
.button-grey:visited {
    background: #FFFFFF;
    color: #6c757d;
    border: 2px solid #6c757d;
}

.button-inline:hover,
.button-inline:active,
.button-inline:visited {
    text-decoration: underline;
}


/** Hero **/
.hero {
    background-color: $blog-hero;

    &-back {
        padding-left: 12.5%;
        padding-right: 12.5%;
        display: block;
    }

    &-inner {
        padding: 2.5em 0 2.5em 0;
    }

    &-link {
        font-family: $font-content;
        font-size: 1em;
        font-style: normal;
        font-weight: 300;
        line-height: 1.75em;
        letter-spacing: 0em;
        text-align: left;
        color: $blog-blue;
        cursor: pointer;
    }
}

.hero-link:active,
.hero-link:hover,
.hero-link:visited {
    text-decoration: underline;
}

/** Forms **/

.form {
    position: relative;

    &-group {}

    &-label {}

    &-input {}
}