/* You can add global styles to this file, and also import other style files */

@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css';
@import 'https://pro.fontawesome.com/releases/v5.10.0/css/all.css';

$blog-primary: #98d0c0;
$blog-secondary: #3c483d;

$blog-yellow: #FCB936;
$blog-green: #219E8F;
$blog-blue: #2282EB;
$blog-red: #CA1F25;
$blog-black: #000;

$blog-hero: #F6F2F1;
$blog-body: #FBF9F8;
$blog-light: #F3F3F4;
$blog-footer: #EDE5E3;
$blog-dark: #CCB8B4;

$font-default: "Roboto", serif;
$font-content: "Rubik", sans-serif;
$font-heading: "Pacifico", sans-serif;

html,
body {
    font-weight: $font-default;
    height: 100%;
    width: 100%;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-heading;
}

h6,
p,
ul,
li,
ol {
    font-family: $font-content;
}

/** Responsiveness **/
.view-mobile {
    display: none;
}

@media screen and (max-width: 600px) {
    .view-mobile {
        display: inherit;
    }
}

.view-desktop {
    display: inherit;
}

@media screen and (max-width: 600px) {
    .view-desktop {
        display: none;
    }
}

/** Banner **/
.banner {
    font-family: $font-content;
    padding: 12.5px 26px;
    margin-bottom: 26px;

    &-error {
        background-color: $blog-light;
        text-align: center;
        color: $blog-red;
        border-radius: 6px;
        border: 2px solid $blog-red;
        width: 100%;
        height: 100%;
    }
}

/** Buttons **/
.button {
    font-family: $font-content;
    padding: 12.5px 26px;

    &-inline {
        padding-left: 10px;
        color: $blog-blue;
        cursor: pointer;
    }

    &-small {
        max-width: 200px;
    }

    &-half {
        max-width: 50%;
    }

    &-primary {
        background: $blog-primary;
        border-radius: 6px;
        color: $blog-secondary;
        border: 2px solid #FFFFFF;
        outline: none;
        width: 100%;
        height: 100%;

        &-small {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
        }

        &-normal {
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
        }
    }

    &-grey {
        background: #EDE5E3;
        border-radius: 6px;
        color: #6c757d;
        border: 2px solid #EDE5E3;
        width: 100%;
        height: 100%;

        &-small {
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
        }

        &-normal {
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
        }
    }
}

.button-primary:hover,
.button-primary:active,
.button-primary:visited {
    background: #FFFFFF;
    color: $blog-secondary;
    border: 2px solid $blog-primary;
}

.button-grey:hover,
.button-grey:active,
.button-grey:visited {
    background: #FFFFFF;
    color: #6c757d;
    border: 2px solid #6c757d;
}

.button-inline:hover,
.button-inline:active,
.button-inline:visited {
    text-decoration: underline;
}

/** Hero **/
.hero {
    background-color: $blog-hero;

    &-back {
        padding-left: 12.5%;
        padding-right: 12.5%;
        display: block;
    }

    &-inner {
        padding: 2.5em 0 2.5em 0;
    }

    &-link {
        font-family: $font-content;
        font-size: 1em;
        font-style: normal;
        font-weight: 300;
        line-height: 1.75em;
        letter-spacing: 0em;
        text-align: left;
        color: $blog-blue;
        cursor: pointer;
    }
}

.hero-link:active,
.hero-link:hover,
.hero-link:visited {
    text-decoration: underline;
}

/** Forms **/
.form {
    box-sizing: border-box;

    &-spacing {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &-group {
        height: 50px;
        position: relative;

        &-half {
            width: 45%;
            gap: 20px;
        }

        &-full {
            width: 100%;
        }
    }

    &-input {
        border: 1.5px solid $blog-primary;
        background-color: $blog-hero;
        border-radius: 12px;
        color: $blog-secondary;
        font-size: 18px;
        height: 100%;
        outline: 0;
        padding: 4px 20px 0;
        width: 100%;
    }

    &-select {
        border: 1.5px solid $blog-primary;
        background-color: $blog-hero;
        border-radius: 12px;
        color: $blog-secondary;
        font-size: 18px;
        height: 100%;
        outline: 0;
        padding: 4px 20px 0;
        width: 100%;

        &-label {
            width: 100%;
            text-align: center;
            color: $blog-secondary;
            font-size: 12px;
            font-weight: 700;
        }
    }

    &-spacer {
        background-color: $blog-body;
        border-radius: 10px;
        height: 20px;
        left: 20px;
        position: absolute;
        top: -20px;
        transform: translateY(0);
        transition: transform 200ms;
        width: 30%;
    }

    &-label {
        left: 20px;
        line-height: 14px;
        pointer-events: none;
        position: absolute;
        transform-origin: 0 50%;
        transition: transform 200ms, color 200ms;
        top: 20px;
    }

    &-error {
        text-align: end;
        font-size: 12px;
        color: $blog-red;
    }

}

.form-input:focus ~ .form-spacer,
.form-input:not(:placeholder-shown) ~ .form-spacer {
    transform: translateY(9px);
    background-color: $blog-primary;
}

.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown) ~ .form-label {
    transform: translateY(-28px) translateX(10px) scale(0.75);
}

.form-input:not(:placeholder-shown) ~ .form-label {
    color: $blog-secondary;
}

.form-input:focus ~ .form-label {
    color: $blog-secondary;
}