<footer class="footer">
    <div class="footer-inner container">
        <div class="row">
            <div class="col-12">
                <div class="footer-content">
                    <div class="left">
                        <img width="134" src="assets/logos/logo.png" alt="blog-logo">
                    </div>
                    <div class="right">
                        <div class="footer-sentence">Developed by <span>Phil Teasdale</span> for portfolio purposes.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
