@import '../../../styles.scss';

span {
    color: $blog-dark;
}

.profile {
    position: relative;
    height: 12em;

    &-notification {
        width: 100%;
        background-color: $blog-primary;
        color: $blog-secondary;
        border-radius: 16px 16px 16px 16px;
        padding: 8px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 600;
    }

    &-higher {
        height: 7em;
        background-color: $blog-hero;
    }

    &-lower {
        height: 7em;
        background: $blog-body;
    }

    &-container {
        position: absolute;
        width: 100%;
        top: 0;
        padding-left: 11%;
        padding-right: 11%;
        z-index: 1;
    }

    &-row {
        display: flex;
        flex-wrap: wrap;
    }

    &-column { 
        &-image {
            flex: 25%;
        }

        &-small {
            flex: 25%;
        }

        &-large {
            flex: 50%;
        }
    }

    &-card {
        position: relative;
        background-color:#E7E7E7;
        border: 1px solid #E7E7E7;
        border-radius: 0.375em 0.375em 0.375em 0.375em;

        &-inner {
            padding: 2.5em 2.5em 2.5em 2.5em;
        }
    }

    &-image {
        width: 100%;
        height: 100%;
        border-radius: 0.375em 0em 0em 0.375em;
        background: {
            position: center center;
            repeat: no-repeat;
            size: cover;
        };
    }

    &-heading {
        font-family: $font-heading;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0;
        color: $blog-secondary;
    }

    &-subheading {
        font-family: $font-content;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
    }

    &-content {
        position: relative;
        padding-top: 12px;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 36px;
        background: $blog-body;

        &-heading {
            font-family: $font-heading;
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: 0;
            color: $blog-secondary;
        }

        &-card {
            background: $blog-body;
            border: 1.5px solid $blog-footer;
            box-sizing: border-box;
            border-radius: 6px;
            margin-bottom: 24px;
        }

        &-inner {
            padding: 32px 44px 32px 44px;
        }
    }

    &-table {
        width: 100%;
        text-align: center;
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: 20px;

        &-heading {
            font-weight: 700;
        }
    
        &-row {
            border-bottom: 0.5px solid $blog-primary;
            font-weight: light;
            height: 36px;
        }

        &-delete {
            cursor: pointer;
            color: $blog-blue;
        }
    }
}

.profile-table-delete:hover {
    cursor: pointer;
    color: $blog-red;
}
