<div class="post">
    <div class="post-left">
        <div class="post-image" [ngStyle]="{'background-image': 'url('+ image +')'}" *ngIf="image"></div>
        <div class="post-image" [ngStyle]="{'background-image': 'url(assets/logos/post-default.png)'}" *ngIf="!image"></div>
    </div>
    <div class="post-content post-border">
        <div class="post-spacing">
            <h2 class="post-title">{{ title | titlecase }}</h2>
            <p>{{ description | slice:0:250 }}...</p>
            <div class="post-right">
                <button class="button button-primary button-small" (click)="readMore()">Read More</button>
            </div>
        </div>
    </div>
</div>